[data-efdrcefield][contenteditable="true"].EFDRCE-outline:focus {
  outline: 1px solid #308cc6;
}
/* Disable clicks and hover on all child elements while editing */
[data-efdrcefield][contenteditable="true"]:focus * {
  pointer-events: none !important;
}
[data-efdrcefield][contenteditable="true"]:focus {
  pointer-events: auto !important;
  cursor: text !important;
}
/* Hide Amboss underlines while editing */
[data-efdrcefield][contenteditable="true"]:focus * {
  border-bottom: none !important;
  text-decoration: none !important;
  background-image: none !important;
  color: inherit !important;
}
/* placeholder style */
[data-efdrcefield][contenteditable="true"][data-placeholder].EFDRCE-ctrl:empty:before {
  content: attr(data-placeholder);
  color: #888;
  font-style: italic;
}

/* image resizing */
.ui-wrapper {
  outline: 3px solid #66b3da;
  overflow: visible !important;
}
.ui-resizable {
  position: relative;
}
.ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block;
  -ms-touch-action: none;
  touch-action: none;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
  display: none;
}
.ui-resizable-s {
  cursor: s-resize;
  height: 10px;
  width: auto;
  bottom: -5px;
  left: 0;
  right: 6px;
}
.ui-resizable-e {
  cursor: e-resize;
  width: 10px;
  height: auto;
  right: -5px;
  top: 0;
  bottom: 6px;
}
.ui-resizable-se {
  background: #66b3da;
  cursor: se-resize;
  width: 11px;
  height: 11px;
  right: -7px;
  bottom: -7px;
}
